/*
https://www.colorhexa.com/2f496e
*/

body {
    font-family:  'Calibri', 'Trebuchet MS', sans-serif;
    background: #e4eaf3;
}


/* NAVIGATION BAR*/
header {
    background: #4a61ba;
    width: 100%;
}

header {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: left;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    float: left;
    padding-right: 150px;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ebebeb;
    font-weight: 900;
}

.navbar {
    width: 95%;
    margin: 0 auto;
    float: left;
}

.logo {
    width: 50px;
    padding: 15px;
}


/*BODY*/
div li { 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
    list-style-type: none;
    text-decoration: none;
}

.metroui {
    color: #fff;
    position: absolute;
    transform: translate(0%, 0%)
}

.item {
    width: 443px;
    height: 270px;
    float: left;
    margin: 2px;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: 0.4s;
    text-decoration: none;
    color: #e4eaf3;
}
.item:hover {
    transform: scale(0.9);
}

.item i {
    font-size: 150px;
    line-height: 230px;
    opacity: 0.8;
    list-style-type: none;
}

.item span {
    opacity: 0.8;
    position: absolute;
    bottom: 6px;
    left: 40%;
    right: 40%;
    padding-bottom: 15px;
    font-size: 15px;
}

.titulo {
    width: 443;
    height: 270;
    background-image: url("../images/titulo.png");
}

.informacion {
    width: 443;
    height: 270;
    background-image: url("../images/informacion.png");
}

.autor {
    width: 443;
    height: 270;
    background-image: url("../images/autor.png");
}

.color {
    width: 443;
    height: 270;
    background-image: url("../images/color.png");
}

.genero {
    width: 443;
    height: 270;
    background-image: url("../images/genero.png");
}

.contenido {
    width: 443;
    height: 270;
    background-image: url("../images/contenido.png");
}