<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="../Styles/book_aggregator.css">
    <script src="../Linkers/book_aggregator.js"></script>
</head>
<body>
    
    <h1>Registro de Libros</h1>

    <div class="contenedor">
        <div class="Envoltura">
            <div class="Registro">
              <h2>Registro</h2>
              
              <h3>Sueña con un libro</h3>
    </div>

    <div class="forma">
        <h2>INTRODUCE LOS DATOS DEL LIBRO</h2>
        <form name="newBook" onsubmit="addBook()">
            <p>
                <label for="libro_id">ID</label>
                <input type="text">
            </p>

            <p>
                <label>Titulo</label>
                <input type="text">
            </p>

            <p>
                <label>Autor</label>
                <input type="text">
            </p>

            <p>
                <label>Editorial</label>
                <input type="text">
            </p>

            <p>
                <label>Género</label>
                <input type="text">
            </p>

            <p class="input-file-wrapper">
                <label for="upload">Upload your photo</label>
                <input type="file" name="" id="upload">
                <input type="file" accept="image/*;capture=camera">
            </p>

            <p class="full-width">
                <button>Guardar</button>
              </p>
        </form>
    </div>
    </div>
    </div>
</body>
</html>